* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1B3C59;
  background-color: #E8EBF1;
}

body a {
  text-decoration: none;
}

body nav {
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

body nav img {
  height: 60px;
}

body nav ul {
  list-style: none;
}

body nav ul li {
  display: inline-block;
  padding-right: 50px;
}

body nav ul li a {
  text-transform: uppercase;
}

body main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  margin: auto;
}

body main .student-info {
  width: calc(100%/2.1);
  margin: 20px 10px;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
}

body main .student-info .info-top {
  display: flex;
  line-height: 30px;
}

body main .student-info .info-top img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 15px;
}

body main .student-info .info-bot {
  font-size: 18px;
  line-height: 23px;
}

body main .student-info-big {
  width: 100%;
  margin: 50px 30px;
  background-color: white;
  padding: 50px;
  font-size: 30px;
}

body main .student-info-big .info-top {
  display: flex;
}

body main .student-info-big .info-top img {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 15px;
}

